
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system ui, sans-serif;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    text-align: center;
}

.rounded-button {
    background: light gray;
    border-radius: 1rem;
    padding: 0.7rem;
    cursor: grab;
    font-size: 18px;
}

#intro {
    display: inline-flexbox;
    /* padding-inline-start: 20px;
    width: 100%;
    height: 100%
    background: url() no-repeat center center fixed;
    background-size: cover; */
    
}

#modal-rules {
    display: inline-flexbox;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../assets/rules\ img.png) no-repeat center center fixed;
    background-size: cover;
}

.modal-rules-content {
    display: inline-flex;
   background-color: white;
   max-width: 55%;
   border-radius: 1rem;
   padding: 0.5em;
   
}
#rules {
    display: none;
}

#gameboard {
    display: none;
}


#lets-play {

}


.keyboard-container {
    display: flex;
    flex-wrap: wrap;
    background-color: purple;
    /* width: 40vw; */
    font-size: 25px;
}


.key {
    width: 4vw;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
}

#status-message {
    border: 3px solid black;
    border-radius: 1rem;
    width: 40vw;
}
#lyric-box {
    display: flex;
    border: 3px solid black;
    border-radius: 1rem;
    /* width: 40vw; */
    height: 15vw;
    align-items: center;
    justify-content: center;
}

#guess-console {
    display: flex;
    border: 2px solid black;
    height: 10vh;
    justify-content: center;
}

.left-container {
    max-width: 50%;
}

.right-container {
    max-width: 50%;
    align-items: right;
}

.parent-container {
    display: flex;
flex-direction: row;
}